# SQL Part 1 Studio

Let's practice your SQL querying skills!  For each question, work along in the notebook adding your query and answering the questions.

## Dataset

We will be using the same Goodreads dataset that was used for the exercises in the prep work. Feel free to reference your exercises notebook as you work on the studio. The Kaggle dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k).

You can access **BooksDB** in the Launchcode server.

## Business Issue

You work for a small independent book store and you want to increase sales by running a new marketing campaign. Before you can design your campaign, you need to get more familiar with what is going on with the world of book publishing. Time to get more familar with BooksDB!

## Part 1: BooksDB Questions

Question 1: Write a query of the `books` table that returns the top 100 results and includes `book_id`, `authors`, `title`, and `average_rating`. Use an alias for at least one column and sort the result set in descending order of rating. What is the number one book?

In [ ]:
SELECT TOP 100 book_id, title, authors, average_rating as Rating 
FROM dbo.books
ORDER BY average_rating DESC;

Question 2: Write a query to find the least popular book.

In [ ]:
SELECT TOP 1 *
FROM dbo.books 
ORDER BY average_rating ASC;

Question 3: Which tag is the most popular?

In [ ]:
SELECT Top 1 tag_id, COUNT(*) as count
FROM dbo.book_tags 
GROUP BY tag_id  
order BY count DESC

Question 4: What is the name of the most popular tag?

In [ ]:
SELECT top 1 *
FROM dbo.tags 
WHERE tag_id = 30574

Question 5: How many books where released in the first decade of 2000?

In [ ]:
SELECT count(*) as total_2000_decade
FROM dbo.books
WHERE original_publication_year >= 2000 and original_publication_year < 2010

Question 6: How many book titles contain the word, "happy"?

In [ ]:
SELECT count(*) as "Happy"
FROM dbo.books
WHERE title like '%happy%'

Question 7: List the books from the top 3 authors from Question 1.  If there is more than one author just use the first one. Sort the title alphabetically by `author` and then by `average_rating`, best rated to lowest. Does this order matter in sorting?

In [ ]:
SELECT TOP 3 title, authors, average_rating
FROM dbo.books
ORDER BY average_rating DESC, authors ASC;

Question 8: Write a query that returns the number of authors whose first name is between rock and roll.

In [ ]:
-- return number of authors whose first name is between rock and roll
SELECT count(*)
FROM dbo.books
WHERE authors BETWEEN 'Rock%' And 'Roll%';

## Part 2: Find the Answers to Your Own Questions

Your Question:  Click here to add a questions that you want to answer and write a query to find the answer!

In [ ]:
-- how many books about health?
SELECT count(*)
FROM dbo.books
WHERE title LIKE '%health%';

Your Question:  Click here to add a questions that you want to answer and write a query to find the answer!

In [ ]:
-- authors with first name starting with A
SELECT count(*) as Author_Name_A
FROM dbo.books
WHERE authors LIKE 'A%';

If you cannot think of a question you want to ask, here are some question examples to help jumpstart your brainstorming process:

1. What book has the longest title?
1. Which author has written the most books?
1. What were the top ten books published the year I was born?