# SQL Part 3 Studio

Let's practice your SQL querying skills! For each question, work along in the notebook, adding your query and answering the questions.

## The Dataset

We will be using the Goodbooks-10k dataset from the exercises in the prep work. Feel free reference your previous notebooks.

1. The dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k)
1. You can access `BooksDB` in the LaunchCode server.

## Business Issue

You are an employee at a small independent bookstore and you have been tasked with increasing sales.  You decide to use `BooksDB` to find books and themes to highlight in fun promotions throughout each month and/or season.  We will be starting with March and then you will have a chance to explore another month of your choosing.  We want to come up with a list of promotions to run each month.  If you are looking for ideas, here are some resources on different holidays:

- [https://www.calendarr.com/united-states/calendar-2022/](https://www.calendarr.com/united-states/calendar-2022/)
- [https://www.holidayinsights.com/moreholidays/](https://www.holidayinsights.com/moreholidays/)
    - Click on a month and it will take you to a more detailed page

## Part 1:  March - Women's History Month, National Pie Day (3/14), St. Patrick's Day (3/17), Season - Spring

### Event 1: Women's History Month

Highlight popular women writers based on ratings from `BooksDB` by writing a query that returns `tag_id`, the number of times each `tag_id` is used and the `tag_name`. Use the `GROUP BY` and `HAVING` clause to narrow your focus and try multiple keywords, such as "woman" and "female".

In [ ]:
SELECT 
tags.tag_id,
tags.tag_name,
COUNT(book_tags.tag_id) AS tag_count
FROM BooksDB.dbo.tags AS tags
FULL JOIN BooksDB.dbo.book_tags AS book_tags
ON tags.tag_id = book_tags.tag_id
GROUP BY tags.tag_id, tags.tag_name
HAVING tags.tag_name like '%women%' 
OR tags.tag_name like '%female%'
OR tags.tag_name like '%woman%'
ORDER BY tag_count DESC;

### Event 2: Choose another event from March/Spring

Write a query to return authors, titles, ratings, and `tag_id` that you would want to promote during your chosen event.

In [ ]:
SELECT 
books.authors,
books.title,
books.average_rating,
tags.tag_id
FROM BooksDB.dbo.tags AS tags
INNER JOIN BooksDB.dbo.book_tags AS book_tags
ON tags.tag_id = book_tags.tag_id
INNER JOIN BooksDB.dbo.books AS books
ON book_tags.goodreads_book_id = books.best_book_id
WHERE tags.tag_name like '%St.Patrick%' OR tags.tag_name like '%Ireland%'

In [ ]:
SELECT 
    books.title,
    books.authors,
    books.average_rating,
    book_tags.tag_id,
    tags.tag_name
FROM BooksDB.dbo.books AS books
JOIN BooksDB.dbo.book_tags AS book_tags
ON books.best_book_id = book_tags.goodreads_book_id
JOIN BooksDB.dbo.tags AS tags
ON book_tags.tag_id = tags.tag_id
WHERE tags.tag_name = 'pie' OR tags.tag_name = 'pie day' OR tags.tag_name = 'baking'

Record your thoughts about why you wrote the query the way you did.

# Part 2: Choose Another Month

Choose another month and plan at least 2 events / promotions and answer the following questions:
1. Which month did you choose?
1. What 2 events / promotions are you highlighting?

# Part 3: Summarize your Work

For each event write at least one query that joins any two tables in `BooksDB` to support your choice and record you thoughts as to why you used the paticlular query. At least one of your queries needs to include a `HAVING` clause.

In [ ]:
-- return book titles for month of june related to fathers day or juneteenth. 
SELECT 
    books.title
FROM BooksDB.dbo.books AS books
JOIN BooksDB.dbo.book_tags AS book_tags
ON books.best_book_id = book_tags.goodreads_book_id
JOIN BooksDB.dbo.tags AS tags
ON book_tags.tag_id = tags.tag_id
WHERE (tags.tag_name = 'fathers day' OR tags.tag_name = 'juneteenth')
AND MONTH(books.publication_date) = 6

### Summarize Event 1

Double-click to edit.

In [ ]:
SELECT 
    books.title,
    books.authors,
    books.average_rating,
    book_tags.tag_id,
    tags.tag_name
FROM BooksDB.dbo.books AS books
JOIN BooksDB.dbo.book_tags AS book_tags
ON books.best_book_id = book_tags.goodreads_book_id
JOIN BooksDB.dbo.tags AS tags
ON book_tags.tag_id = tags.tag_id
WHERE tags.tag_name like '%fathers day%' OR tags.tag_name like '%juneteenth%' OR tags.tag_name = 'dad'
GROUP BY 
    books.title, 
    books.authors, 
    books.average_rating, 
    book_tags.tag_id,
    tags.tag_name
    HAVING 
    COUNT(tags.tag_id) >= 1

### Summarize Event 2

Double-click to edit.